In [ ]:
import numpy as np
import pandas as pd
import pickle

In [3]:
# read in full data
data= pd.read_csv('../GenomeCRISPR_full05112017.csv')

# read in sample data
#data= pd.read_csv('../GenomeCRISPR_full05112017_small.csv')

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#should filter only to our pubmed 29083409
toppub_all_data = data[data['pubmed'] ==29083409]

In [5]:
# groupby celline and sequence
toppub_grouped = toppub_all_data.groupby(['sequence','symbol']).median()['effect'].reset_index()

In [6]:
toppub_grouped.head()

                  sequence   symbol  effect
0  AAAAAAATCCAGCAATGCAGAGG    SHOC2    -1.0
1  AAAAAACCCGTAGATAGCCTCGG  NDUFA12    -1.0
2  AAAAAAGAAGAAAAAACCAGAGG    SDAD1    -5.0
3  AAAAAAGCTCAAGAAGGAGGCGG   FAM98A     1.0
4  AAAAAAGGCTGTAAAAGCGTGGG   ZNF253    -3.0

In [7]:
# doench paper
d = data[data['pubmed'] ==26780180]

In [7]:
# groupby sequence to get unique seqs
groupby_seq = toppub_grouped.groupby(['sequence']).count().reset_index()
groupby_gene = toppub_grouped.groupby(['symbol']).count().reset_index()

In [8]:
# keeping only sequence column
unique_seq_toppub = groupby_seq['sequence']
groupby_gene = groupby_gene['symbol']

In [9]:
# one_hot function

e_dict = {'A':[1,0,0,0], 'C':[0,1,0,0], 'G':[0,0,1,0], 'T':[0,0,0,1]}

def one_hot(x):
    return e_dict[x]

In [10]:
unique_seq_toppub.head()

0    AAAAAAATCCAGCAATGCAGAGG
1    AAAAAACCCGTAGATAGCCTCGG
2    AAAAAAGAAGAAAAAACCAGAGG
3    AAAAAAGCTCAAGAAGGAGGCGG
4    AAAAAAGGCTGTAAAAGCGTGGG
Name: sequence, dtype: object

In [11]:
# onehot encode the unique seqs
one_hot_un_seq = unique_seq_toppub.apply(lambda x: map(one_hot, x))

In [12]:
x = one_hot_un_seq

In [13]:
# reset indices
unique_seq_toppub = unique_seq_toppub.reset_index()
one_hot_un_seq = one_hot_un_seq.reset_index()
groupby_gene = groupby_gene.reset_index()

In [14]:
# append onehot to seqs
unique_seq_toppub['one_hot'] = one_hot_un_seq['sequence']

In [15]:
unique_seq_toppub.head()

,index,sequence,one_hot
0,0,AAAAAAATCCAGCAATGCAGAGG,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,..."
1,1,AAAAAACCCGTAGATAGCCTCGG,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,..."
2,2,AAAAAAGAAGAAAAAACCAGAGG,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,..."
3,3,AAAAAAGCTCAAGAAGGAGGCGG,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,..."
4,4,AAAAAAGGCTGTAAAAGCGTGGG,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,..."

In [16]:
# merge one hot encoding to data
toppub_one_hot = toppub_grouped.merge(unique_seq_toppub,left_on="sequence",right_on="sequence", how="left")

In [17]:
# merge gene encoding to data
toppub_one_hot = toppub_one_hot.merge(groupby_gene,left_on="symbol",right_on="symbol", how="left")

In [18]:
toppub_one_hot.head()

,sequence,symbol,effect,index_x,one_hot,index_y
0,AAAAAAATCCAGCAATGCAGAGG,SHOC2,-1.0,0,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,...",14001
1,AAAAAACCCGTAGATAGCCTCGG,NDUFA12,-1.0,1,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,...",9936
2,AAAAAAGAAGAAAAAACCAGAGG,SDAD1,-5.0,2,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,...",13701
3,AAAAAAGCTCAAGAAGGAGGCGG,FAM98A,1.0,3,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,...",5316
4,AAAAAAGGCTGTAAAAGCGTGGG,ZNF253,-3.0,4,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1,...",17743

In [ ]:
# one hot features without gene
features_no_gene = np.ndarray(shape=(toppub_one_hot.shape[0],23,4), dtype=int)
for i in range(toppub_one_hot.shape[0]):
    for j in range(len(toppub_one_hot['one_hot'][i])):
        features_no_gene[i][j] = toppub_one_hot['one_hot'][i][j]

In [ ]:
pickle.dump(features_no_gene, open("../features_no_gene.p", "wb"))

In [ ]:
features_no_gene.shape

In [49]:
# one hot features with gene
# create empty numpy matrix for storing one hot features
features = np.ndarray(shape=(toppub_one_hot.shape[0],23,5), dtype=int)
# append gene to each one hot nucleotide
for i in range(toppub_one_hot.shape[0]):
    for j in range(len(toppub_one_hot['one_hot'][i])):
        features[i][j] = toppub_one_hot['one_hot'][i][j] + [toppub_one_hot['index_y'][i]]

In [ ]:
features.shape

In [21]:
pickle.dump(features, open("../features.p", "wb"))

In [19]:
def convert_labels(y):
#     if y > 3:
#         return 1
#     else:
#         return 0
    return (y + 10)/float(20)

In [20]:
# regression labels
labels = toppub_one_hot['effect']
labels = np.array(list(map(lambda x: convert_labels(x), labels)))
# labels = np.eye(num_classes)[labels]

In [67]:
# classification labels
num_classes=21
labels = toppub_one_hot['effect']
# labels = np.array(list(map(lambda x: convert_labels(x), labels)))
labels = np.array(list(map(lambda x: int(x+10), labels)))
labels = np.eye(num_classes)[labels]

In [68]:
# split into training and testing for with gene
msk = np.random.rand(len(features)) < 0.8

train_data = features[msk]
train_labels = labels[msk]

test_val_data = features[~msk]
test_val_labels = labels[~msk]

msk = np.random.rand(len(test_val_data)) < 0.5
test_data = test_val_data[msk]
test_labels = test_val_labels[msk]

val_data = test_val_data[~msk]
val_labels = test_val_labels[~msk]

In [71]:
# split into training and testing no gene
msk = np.random.rand(len(features_no_gene)) < 0.8

train_data = features_no_gene[msk]
train_labels = labels[msk]

test_val_data = features_no_gene[~msk]
test_val_labels = labels[~msk]

msk = np.random.rand(len(test_val_data)) < 0.5
test_data = test_val_data[msk]
test_labels = test_val_labels[msk]

val_data = test_val_data[~msk]
val_labels = test_val_labels[~msk]

In [72]:
print(train_data.shape)
print(test_data.shape)
print(val_data.shape)

(58203, 23, 4)
(7337, 23, 4)
(7323, 23, 4)

In [26]:
# for with gene
pickle.dump(train_data, open("../train_data.p", "wb"))
pickle.dump(train_labels, open("../train_labels.p", "wb"))

pickle.dump(test_data, open("../test_data.p", "wb"))
pickle.dump(test_labels, open("../test_labels.p", "wb"))

pickle.dump(val_data, open("../val_data.p", "wb"))
pickle.dump(val_labels, open("../val_labels.p", "wb"))

In [73]:
# for classification without gene
pickle.dump(train_data, open("../train_data2.p", "wb"))
pickle.dump(train_labels, open("../train_labels2.p", "wb"))

pickle.dump(test_data, open("../test_data2.p", "wb"))
pickle.dump(test_labels, open("../test_labels2.p", "wb"))

pickle.dump(val_data, open("../val_data2.p", "wb"))
pickle.dump(val_labels, open("../val_labels2.p", "wb"))